In [1]:
import pandas as pd

### Astuce d'affichage

In [83]:
pd.set_option('display.max_column',20)
pd.set_option('display.max_row',20)

### Read csv

In [20]:
df=pd.read_csv('../data_recap/data/university_admissions.csv')  # quand les floats ont une virgule et non un point
df.head()

   rating  CGPA  admitted
0       4  9.88      True
1       4  8.30      True
2       3  6.59     False
3       4  8.96      True
4       1  5.74      True

### Create a Dataframe/Series

In [8]:
s = pd.Series(data=[1,2,'three'], index=['id1', 'id2', 'id3'])
s = pd.Series({'id1': 1, 'id2': 2, 'id3': 'three'})
s

id1        1
id2        2
id3    three
dtype: object

In [11]:
d = pd.DataFrame(
    [[4, 7, 10],
     [5, 8, 11],
     [6, 9, 12]],
    index=['row_1', 'row_2', 'row_3'],
    columns=["col_a", "col_b", "col_c"]
)
d

       col_a  col_b  col_c
row_1      4      7     10
row_2      5      8     11
row_3      6      9     12

### Global exploration of the DataFrame

In [22]:
df.head()

   rating  CGPA  admitted
0       4  9.88      True
1       4  8.30      True
2       3  6.59     False
3       4  8.96      True
4       1  5.74      True

In [23]:
df.tail()

      rating  CGPA  admitted
1535       5  8.89     False
1536       3  7.05     False
1537       3  7.68      True
1538       2  6.05     False
1539       3  7.14     False

In [13]:
df.dtypes

rating        int64
CGPA        float64
admitted       bool
dtype: object

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1540 entries, 0 to 1539
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   rating    1540 non-null   int64
 1   CGPA      1540 non-null   float64
 2   admitted  1540 non-null   bool
dtypes: bool(1), float64(1), int64(1)
memory usage: 25.7 KB

In [17]:
df.describe()

            rating         CGPA
count  1540.000000  1540.000000
mean      2.903247     7.249273
std       1.226887     1.281017
min       1.000000     4.180000
25%       2.000000     6.215000
50%       3.000000     7.270000
75%       4.000000     8.252500
max       5.000000     9.980000

In [24]:
df.sample(n=5)

     rating  CGPA  admitted
733       3  6.85     False
651       5  9.04      True
130       1  5.62      True
436       3  8.41      True
376       3  8.73     False

### Missing Values

In [27]:
df.isna().sum()

rating      0
CGPA        0
admitted    0
dtype: int64

In [30]:
df.fillna({'rating': 0}, inplace =True)

In [37]:
df.drop(['rating','CGPA'],axis=1).head()

   admitted
0      True
1      True
2     False
3      True
4      True

In [41]:
df.dropna(axis=0).head()

   rating  CGPA  admitted
0       4  9.88      True
1       4  8.30      True
2       3  6.59     False
3       4  8.96      True
4       1  5.74      True

### Precise exploration of the DataFrame

#### Slicing

In [44]:
df[['rating','admitted']].head()

   rating  admitted
0       4      True
1       4      True
2       3     False
3       4      True
4       1      True

In [48]:
df[['rating','admitted']][125:130]

     rating  admitted
125       4     False
126       2      True
127       3     False
128       2     False
129       3     False

In [50]:
df.loc[125:130,['rating','admitted']]

     rating  admitted
125       4     False
126       2      True
127       3     False
128       2     False
129       3     False
130       1      True

In [55]:
df.iloc[125:130,[0,2]]

     rating  admitted
125       4     False
126       2      True
127       3     False
128       2     False
129       3     False

#### Boolean indexing

In [58]:
df[df['admitted']==True]

      rating  CGPA  admitted
0          4  9.88      True
1          4  8.30      True
3          4  8.96      True
4          1  5.74      True
6          5  9.51      True
...      ...   ...       ...
1527       3  9.14      True
1529       1  5.91      True
1532       2  6.09      True
1534       2  6.96      True
1537       3  7.68      True

[736 rows x 3 columns]

In [64]:
df.query('rating>CGPA') #pour comparer des colonnes entre elles, pas d'intérets ici

Empty DataFrame
Columns: [rating, CGPA, admitted]
Index: []

In [72]:
df[df['rating'].isin(values=[1,3,5])]

      rating  CGPA  admitted
2          3  6.59     False
4          1  5.74      True
5          3  7.51     False
6          5  9.51      True
9          3  8.48      True
...      ...   ...       ...
1533       3  8.05     False
1535       5  8.89     False
1536       3  7.05     False
1537       3  7.68      True
1539       3  7.14     False

[957 rows x 3 columns]

### Index

In [85]:
df.index

RangeIndex(start=0, stop=1540, step=1)

In [93]:
df.CGPA.idxmax() #renvoit l'index du max

913

In [96]:
df.sort_index() #pas de chgt ici mais trie l'index par ordre croissant

      rating  CGPA  admitted
0          4  9.88      True
1          4  8.30      True
2          3  6.59     False
3          4  8.96      True
4          1  5.74      True
...      ...   ...       ...
1535       5  8.89     False
1536       3  7.05     False
1537       3  7.68      True
1538       2  6.05     False
1539       3  7.14     False

[1540 rows x 3 columns]

In [97]:
df.set_index('CGPA')

      rating  admitted
CGPA
9.88       4      True
8.30       4      True
6.59       3     False
8.96       4      True
5.74       1      True
...      ...       ...
8.89       5     False
7.05       3     False
7.68       3      True
6.05       2     False
7.14       3     False

[1540 rows x 2 columns]

### Sorting values

In [99]:
df.sort_values(by='CGPA',ascending=False)

      rating  CGPA  admitted
913        4  9.98      True
1111       4  9.97      True
955        3  9.97      True
1075       4  9.94      True
1142       4  9.91      True
...      ...   ...       ...
675        2  4.45     False
1144       1  4.44     False
1238       2  4.37     False
929        1  4.36     False
704        2  4.18     False

[1540 rows x 3 columns]

### Usefull functions for categorical variables

In [73]:
df.rating.unique()

array([4, 3, 1, 5, 2])

In [75]:
df.rating.nunique()

5

In [77]:
df.rating.value_counts()

3    520
2    313
4    270
1    245
5    192
Name: rating, dtype: int64

In [81]:
df.rating.value_counts(normalize=True)

3    0.337662
2    0.203247
4    0.175325
1    0.159091
5    0.124675
Name: rating, dtype: float64